@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slow-infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slow-infinite-scroll {
  animation: slow-infinite-scroll 30s linear infinite;
}

html {
  scroll-behavior: smooth;
}
