@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slow-infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slow-infinite-scroll {
  animation: slow-infinite-scroll 30s linear infinite;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-position: inside; /* Ensure bullets are inside the box */
  text-indent: -1.5em; /* Adjust based on your bullet's width */
  padding-left: 1.5em; /* Align subsequent lines with the text */
  line-height: 1.5; /* Add spacing for readability */
  white-space: normal; /* Allow wrapping */
}
